markupsafe==3.0.2
pyjwt==2.10.0
annotated-types==0.7.0
anyio==4.6.2.post1
astroid==3.3.5
azure-common==1.1.28
azure-core==1.32.0
azure-identity==1.19.0
blinker==1.9.0
boto3==1.37.6
botocore==1.37.6
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
cryptography==43.0.3
distro==1.9.0
flask==3.1.0
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
idna==3.10
isodate==0.7.2
itsdangerous==2.2.0
jinja2==3.1.4
jiter==0.7.1
msal==1.31.1
msal-extensions==1.2.0
portalocker==2.10.1
pycparser==2.22
pydantic==2.10.1
pydantic-core==2.27.1
pylint==3.3.1
requests==2.32.3
s3transfer==0.11.4
six==1.16.0
sniffio==1.3.1
tqdm==4.67.1
typing-extensions==4.12.2
urllib3==2.2.3
werkzeug==3.1.3
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
attrs==24.3.0
azure-search-documents==11.4.0b8
code2flow==2.5.1
dill==0.3.9
et-xmlfile==2.0.0
frozenlist==1.5.0
gtts==2.5.4
isort==5.13.2
jmespath==1.0.1
mccabe==0.7.0
mido==1.3.3
multidict==6.1.0
numpy==2.2.3
openai==0.28.0
opencv-python==4.11.0.86
openpyxl==3.1.5
openpyxl-image-loader==1.0.5
packaging==24.2
pillow==11.1.0
pip==24.0
platformdirs==4.3.6
propcache==0.2.1
psycopg2==2.9.10
pydub==0.25.1
pygments==2.18.0
pymupdf==1.25.3
pynput==1.7.7
python-dateutil==2.9.0.post0
python-rtmidi==1.5.8
pytz==2024.2
pywin32==308
rpds-py==0.21.0
setuptools==75.8.2
smmap==5.0.1
tenacity==9.0.0
toml==0.10.2
tomlkit==0.13.2
tornado==6.4.2
tzdata==2024.2
watchdog==6.0.0
yarl==1.18.3
-==p
-ip==24.0
-p==24.0
autocommand==2.2.2
backports.tarfile==1.2.0
importlib-metadata==8.0.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
tomli==2.0.1
typeguard==4.3.0
wheel==0.43.0
zipp==3.19.2
